@media (max-width: 1200px)
    .container
        width: 960px
        overflow: visible
    .header
        margin-top: 20px
        img
            width: 150px
        &__links
            a
                margin-right: 35px
                font-size: 18px
    .brands
        img
            margin-right: 40px
    .sale
        min-height: auto
        padding-top: 45px
        margin-top: 120px
        &__wrapper
            left: 500px
        &__text
            font-size: 24px
        &__title
            font-size: 48px
        &__btn
            width: 200px
            height: 80px
            font-size: 24px
            margin-bottom: 10px
    .young
        &__title
            font-size: 64px
        &__products
            .product
                &__text
                    top: 5%
                &__name
                    font-size: 36px
                &__wrapper
                    margin-top: 0
                    img
                        width: 8%
                &__subtitle
                    margin-top: 25px
                    font-size: 28px
    .download
        margin-top: 50px
        &__wrapper
            margin-left: 0
            img
                width: 50%
        &__text-block
            margin-right: 0
    .email
        margin-top: 30px
    .footer
        min-height: 450px
        &__points
            margin-right: 100px
        &__point
            font-size: 16px